<!-- Heroes.component.html: On mallitiedosto(templaatti) HeroesComponentille.
Se määrittää komponentin näkmän  rakenteen ja ulkoasun.
Tässä tapauksessa se sisältää lomakkeen, joka mahdollistaa sankarten nimen syöttämisen
ja muokkaamisen käyttäjältä. Lomakkeella käytetään kaksisuuntaista tietojen bindaamista ngModelin avulla.
Joka bindaa syötteen arvon hero.name -ominaisuuteen. -->
<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <!--Painikeeseen bindataan valittu Hero ja vaihtaa sen css arvoja (lukee alhaalla mitä selectedHero tekee)
    class binding: css-tyyli sidotaan ehtoon, ja jos ehto on true, tyyli tulee voimaan-->
    <button [class.selected]="hero === selectedHero" type="button" (click)="onSelect(hero)">
      <span class="badge">{{hero.id}}</span>
      <span class="name">{{hero.name}}</span>
    </button>
  </li>
</ul>

<!--nyt kun käyttäjä valitsee sankarin listalta, selectedHero vaihtuu. Kun selectedHero vaihtuu, property binding päivittää heron
ja HeroDetailComponentti näyttää uuden heron tiedot-->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>